/synology/archive        -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32768,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/archive
/synology/games          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32768,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/games
/synology/music          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32768,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/music
/synology/photo          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32768,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/photo
/synology/video          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32768,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/video
